*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
   padding: 20px;
   max-width: 900px;
   margin: auto;
}

section h1{
   margin-bottom: 20px;
}

.vitrine{
   border-bottom: 1px solid black;
}

.produtos-vitrine-container{
   display: flex;
   flex-wrap: wrap;
}

.produto-vitrine{
   font-size: 1.3em;
   width: 25%;
   padding: 10px;
   text-align: center;
}

.titulo-produto-vitrine{
   font-weight: bold;
   font-size: 1.2em;
}

.produto-vitrine button{
   cursor: pointer;
   transform: scale(1.4);
}

.item-carrinho{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid black;
}

.item-carrinho > *{
   width: calc(100%/3);
}

.legenda-carrinho{
   font-size: 1.3em;
   font-weight: bold;
}

/*refazer o estilo */
.item-carrinho img{
   position: absolute;
   right: 0;
   cursor: pointer;
   height: 1.8em;
   width: 1.8em;
}